*{
  user-select: none;
}

.preload{
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
}

body{
  background-image: url(./img/y-so-serious.png); 
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

h1, h2, h3{
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  text-align: center;
  font-family: "Audiowide", sans-serif;
}

h2{font-size: 1.75rem; font-family: "Sofia", sans-serif;}

h3{font-size: 1rem}

div.obsah{
  max-width: 960px;
  background: rgba(255,255,255,0.65);
  border: 1px solid white;
  border-radius: 25px;
  font-family: "Sofia", sans-serif;
}

p{
  text-align: justify;
  margin: 10px;
}
