*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

.preload{
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
}

body{
  background: rgb(135,206,250); 
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

h1, h2, h3{
    color: darkmagenta;
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 0.5rem;
}

p{
    text-align: justify;
    margin: 10px;
}

div.obsah{
  max-width: 960px;
  background: rgba(255,255,255,0.5);
  border: 1px solid white;
  border-radius: 25px;
}
