* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: #222;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

svg {
  width: 1536px;
  height: 756px;
}

#song-info {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 15.5vh;
  right: 20vw;
  font-weight: bold;
}

#ruce {
  animation: 2.5s infinite ruce;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes ruce {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#song-album {
  display: none;
}

#progress {
  animation: 5s infinite progress;
  transform-origin: center;
  transform-box: fill-box;
  display: none;
}

#progressbar {
  display: none;
}

@keyframes progress {
  0% {
    transform: translateX(0vw);
  }

  50% {
    transform: translateX(8vw);
  }

  100% {
    transform: translateX(0vw);
  }
}