@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

::-webkit-scrollbar {
  /* Schování scrollbaru */
  display: none;
}

/* https://colorhunt.co/palette/149559 */
/* POZADI */
/* OKRAJE (img, hr) */
/* MENU */
/* Zelená */
body {
  background: #f6f6f6;
}

hr {
  /* Čára */
  margin: 10px;
  width: 40%;
  border: 0;
  height: 1px;
  background-color: #414141;
}

nav {
  /* šedý navbar */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.8);
}

nav li a.active {
  /* Zelené pozadí aktivní stránky */
  background-color: #4CAF50;
}

.logo {
  /* 50% div v navbaru se jménem Jakub Vorel */
  margin-left: 1.25%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.logo a {
  /* Samotný nápis Jakub Vorel */
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
  font-family: "Monoton", sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.menu {
  /* Menu jako celek a zarovnání */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style: none;
  width: auto;
  height: 100%;
}

nav li a {
  /* Jednotlivé položky menu */
  text-decoration: none;
  color: white;
  font-weight: bold;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

nav li a::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 90%;
  height: 5px;
  background: #4CAF50;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

nav li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.profile {
  /* Celá stránka pod navbarem */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6vh;
  min-height: 94vh;
}

.profile-pic img {
  /* Profilový obrázek */
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin: 20px;
  border: 1px solid #414141;
}

.changing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 3.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  font-size: 2rem;
  margin-bottom: 10px;
}

.jsem p, .slider p {
  font-family: "Monoton", sans-serif;
  text-transform: uppercase;
  color: black;
}

.slider p {
  letter-spacing: .15rem;
  font-size: 2.5rem;
}

#student {
  color: darkorange;
}

#developer {
  color: darkmagenta;
}

#programmer {
  color: #006e82;
}

.social-media li {
  /* Položky soc. sítí */
  list-style: none;
  display: inline-block;
  font-size: 2.25rem;
  margin: 0 20px;
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 10%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-media li a {
  /* Odkaz na soc. sítě */
  text-decoration: none;
  color: inherit;
}

.social-media li:nth-child(1):hover {
  /* Facebook */
  color: #4267B2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-media li:nth-child(2):hover {
  /* Instagram */
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-media li:nth-child(3):hover {
  /* GitHub */
  color: #6e5494;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info {
  /* Text - about me */
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.75rem;
  pointer-events: none;
}

/* ---------- GALERIE ---------- */
#galerie {
  /* Druhá sekce - GALERIE */
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nadpis p {
  font-family: "Monoton", sans-serif;
  font-size: 3.5rem;
  cursor: default;
  margin-bottom: 1.5rem;
  letter-spacing: .15rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1350px;
}

.gallery a {
  cursor: default;
  width: auto;
  margin: 20px;
}

.gallery a img:hover {
  -webkit-box-shadow: 0 0 20px #3b3b3b;
          box-shadow: 0 0 20px #3b3b3b;
  cursor: pointer;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.gallery a img {
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
  border-radius: 25px;
}

/* ---------- ODKAZY ---------- */
.odkazy {
  /* Čtvrtá sekce - UTILITY */
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.odkazy a {
  text-decoration: none;
  position: relative;
  color: #483531;
}

.odkazy a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.odkazy a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.ul-coding {
  list-style-type: none;
  list-style-image: url("../img/coding.png");
}

.ul-freepics {
  list-style-type: none;
  list-style-image: url("../img/image-gallery.png");
}

.ul-music {
  list-style-type: none;
  list-style-image: url("../img/sound.png");
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lists ul {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  cursor: default;
}

.lists ul li {
  margin-bottom: 1.75rem;
  padding-left: .3rem;
}

.lists ul ul {
  list-style-type: none;
  list-style-image: url("../img/arrow.png");
  font-size: 1.25rem;
  margin-bottom: 0;
}

.lists ul ul li {
  margin-left: 2.5vw !important;
  margin-bottom: .5rem;
  padding-left: 0;
}

/* ---------- UTILITY ---------- */
.utility {
  /* Čtvrtá sekce - UTILITY */
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.utility fieldset {
  width: 65%;
  margin: 40px;
  border: 1.5px solid #414141;
  padding: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.utility fieldset legend {
  padding: 0 .5rem;
  font-weight: bold;
  pointer-events: none;
}

@media screen and (max-width: 840px) {
  /* Pro mobilní telefony - 768px */
  .menu-opener-line {
    /* Jednotlivé čárky menu-openeru */
    width: 30px;
    height: 3px;
    margin: 5px;
    background: white;
  }
  nav {
    /* Navbar */
    position: absolute;
    top: 0;
    height: 10vh;
    z-index: 2;
  }
  nav li a {
    padding: 10px;
    margin: 0px;
  }
  hr {
    width: 55%;
  }
  .menu-opener {
    /* Tři čárky */
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 3;
  }
  .logo {
    /* 50% div v navbaru */
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 75%;
    left: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
  }
  .logo a {
    /* Samotný odkaz - Jakub Vorel */
    font-size: 1.75rem;
  }
  .menu {
    /* Menu, překrývající celou obrazovku */
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15vh;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.92);
    clip-path: circle(100px at 90% -100%);
    /*maska*/
    -webkit-clip-path: circle(100px at 90% -100%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .menu.open {
    /* Samotné otevření menu */
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
  .menu li {
    /* Prvotní nezobrazení itemů v menu, které se postupně objeví */
    opacity: 0;
  }
  .menu li a {
    margin: 0;
    font-size: 25px;
  }
  .menu li:nth-child(1) {
    /* Jednotlivé itemy menu (1, 2,...) */
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .menu li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .menu li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .menu li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  li.fade {
    /* Fade itemů v menu pro JS */
    opacity: 1;
  }
  .profile {
    height: auto;
    margin-top: 10vh;
  }
  .profile-pic img {
    width: 250px;
    height: 250px;
  }
  .changing {
    width: 100%;
    font-size: 1.8rem;
  }
  .slider p {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .social-media li {
    margin: 0 15px;
  }
  .info {
    text-align: center;
  }
  /* ---------- GALERIE ---------- */
  #galerie {
    margin-top: 15vh;
  }
  .nadpis p {
    font-size: 2.5rem;
  }
  .gallery a, .gallery a img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
  }
  /* ---------- ODKAZY ---------- */
  .odkazy {
    margin-top: 15vh;
  }
  /* ---------- UTILITY ---------- */
  .utility {
    margin-top: 15vh;
  }
}
/*# sourceMappingURL=styly.css.map */